{% extends 'base.html' %}
    {% block content %}
        <div class="text-center mt-5">
            <h4 class="fw-light mb-4">Create a file</h4>
            <form action="{% url 'create-file' %}" method="POST" class="col-2 mx-auto">{% csrf_token %}
                <p>
                    <label for="title">Title</label> <br>
                    <input type="text" class="bg-black mt-2 text-white form-control" name="title" id="title" 
                    placeholder="title file" required>
                </p>
                <p>
                    <label for="content">Content</label> <br>
                    <input type="text" class="bg-black mt-2 text-white form-control" name="content" id="content" 
                    placeholder="type something.." required>
                </p>

                <input type="submit" value="Save" class="btn btn-primary mt-3">
            </form>            

                <a href="{% url 'home' %}" class="btn mt-5 text-white">Back to home</a>  
        </div>
    {% endblock %}