{% extends 'base.html' %}
    {% block content %}
        <div class="text-center mt-5">
            <h4 class="fw-light mb-4">Update {{ file.title }}</h4>
            <form action="{% url 'update-file' file.id %}" method="POST" class="col-2 mx-auto">{% csrf_token %}
                <p>
                    <label for="title">Title</label> <br>
                    <input type="text" class="bg-black mt-2 text-white form-control" name="title" id="title" 
                    required value="{{ file.title }}">
                </p>
                <p>
                    <label for="content">Content</label> <br>
                    <input type="text" class="bg-black mt-2 text-white form-control" name="content" id="content" 
                    required value="{{ file.content }}">
                </p>

                <input type="submit" value="Update" class="btn btn-primary mt-3">
            </form>            

                <a href="{% url 'folders' %}" class="btn mt-5 text-white">Back to home</a>  
        </div>
    {% endblock %}